#wrapper {
	position: relative; /**make #wrapper position non-static **/
	min-height: 100%;
}

#container {
	max-width: 1060px;
	margin-right: auto;
	margin-left: auto;
}

/** Header Styles **/

header {
  	width: 100%;
  	background-color: #efefef;
  	border-bottom: 1px solid #dedede;
}

.logo {
	font-family: Cabin;
	color: #505050;
	font-size: 26px;
	display: inline-block;
	margin: 12px;
}

.header-user-section {
	display: inline-block;
	float: right;
}

.header .logo .fa {
	color: #ff8934;
	font-size: 22px;
}

.header h2 {
	display: inline-block;
	padding-right: 15px;
	font-size: 16px;
	color: #606060;
}

.header .btn-default {
	margin-top: 12px;
	margin-right: 15px;
	font-size: 12px;
	border-bottom: none;
	padding: 5px;
	padding-right:10px;
	padding-left: 10px;
	border: 1px solid #606060;
	color: #606060;
	background-color: transparent;
}

.header .btn-default:hover {
	background: #FF8934;
	color: #fff;
	transition: .5s;
	border-bottom: none;
	border: 1px solid #FF8934;
}

/** Signin Form Styles **/

.onLoggedOut h1, h2 {
	text-align: center;
}

.onLoggedOut {
	max-width: 330px;
 	padding: 15px;
 	margin: 0 auto;
 	margin-top:35px;
 	border: 1px solid #dedede;
 	border-radius: 5px;
}

.input-box {
	min-width: 100%;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-button {
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #6fcf5e;
	color: #fff;
	font-size: 18px;
	font-family: Cabin;
	border: none;
	padding: 9px;
	margin-top:10px;
	margin-bottom:5px;
	border-radius: 2px;
}

.login-button:hover {
	background: #45a549;
	color: #fff;

}

.doRegister {
	min-width: 100%;
	background-color: #ff8934;
	color: #fff;
	font-size: 18px;
	font-family: Cabin;
	border: none;
	padding: 9px;
	margin-top:10px;
	margin-bottom:5px;
	border-radius: 2px;
}

.doRegister:hover {
	background: #f76802;
	color: #fff;
}

.doResetPassword {
	min-width: 100%;
	background-color: transparent;
	color: #303030;
	font-size: 16px;
	border: none;
	text-decoration: underline;
}

.doResetPassword:hover {
	color: #ff8934;
}
/** Font Styles **/

h1 {
  color: #000;
  font-size: 40px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #808080;
  text-align: left;
}

h3 {
	font-size: 18px;
}

.movie-header {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 26px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  max-width: 150px;
  border: 1px solid #dedede;
  margin-top: 25px;
  max-height: 190px;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #808080;
}

/** Button Styles **/

.btn-default {
	background: #FF8934;
	margin-bottom: 2px;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	font-family: Helvetica;
	border: none;
	border-bottom: 2px solid #CF4A1A;
}

.btn-default:hover {
	background: #F76802;
	color: #fff;
	transition: .5s;
	border-bottom: 2px solid #CF4A1A;
}

.btn-danger {
	margin-top: 10px;
	margin-left: 7px;
}

.watch-button {
	margin-bottom: 15px;
}

.close-button {
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 12px;
  border-bottom: none;
  padding: 5px;
  padding-right:10px;
  padding-left: 10px;
  border: 1px solid #606060;
  color: #606060;
  background-color: transparent;
}

.close-button:hover {
  background: #FF8934;
  color: #fff;
  transition: .5s;
  border-bottom: none;
  border: 1px solid #FF8934;
}

.search-form {
	margin-bottom: 25px;
}

.movie-input {
	padding: 6px;
	margin-right: 10px;
}

.table-container{
  width: 75%;
  margin: 10px auto 0;
  margin-bottom: 50px;
  padding-left: 0px;
}

table, table th{
  text-align: left;
}

tr {
	border-top: 1px solid #dedede;
}

.table-poster {
	text-align: left;
}

.watch-list-poster {
	margin-top:3px;
}

.table-title {
	text-align: left;
	width: 275px;
}

.movie-title {
	text-align: left;
}

.movie-title-list {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 600;
}

table img{
  max-width: 50px;
}

.doLogout {
	float: right;
}

.header-section {
	margin-top: 45px;
}

/** Movie Display Styles **/
.movie-info-display .col-md-2 {
	padding-left: 0px;
}

.movie-info-display .col-md-5 {
  padding-left: 0px;
}


/** Footer Styles **/
.footer {
	border-top: 1px solid #dedede;
	background-color: #efefef;
	display: block;
	height: 50px;
	margin-top: 50px;
	width: 100%;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	display: none;
}

.footer p {
	margin-top: 15px;
	color: #808080;
	font-family: Helvetica;
	font-weight: 300;
}
